<%- contentFor('hero') %>
<%- contentFor('body') %>
<div class="jumbotron text-center">
<div class="container">
  <div class="row">
    <pre>
      <h1><%= title %></h1>
    </pre>
  </div>
</div>
</div>