<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2>Добро пожаловать на сайт покупак </h2>
            <p>Тут Вы сможете приобрести красовки Мужские Женские и Детские от такого бренда как New Balance</p>
            <a href="/" class="btn btn-lg btn-primary">Get Started</a>
            <a href="/contact" class="btn btn-lg btn-primary">Связатся с нами</a>
        </div>
    </section>
<%- contentFor('body') %>
<div class="jumbotron text-center">
<h1><%= title %></h1>
    <p><span id="num"></span><span id="article"></span></p>
        <p>
            <select class="form-control">
                <option value="false" selected disabled>Выберите красовки : </option>
                <option value="https://joesnewbalanceoutlet.com/men/shoes/">Мужские</option>
                <option value="https://joesnewbalanceoutlet.com/women/shoes/">Женские</option>
                <option value="https://joesnewbalanceoutlet.com/kids/boys/">Детские</option>
            </select>
            <input id="range" type="range" min="1" max="24" step="1" value="<%= num %>" />
        </p>
</div>
<div class="main">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
        
</section>
